<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Se connecter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Se connecter</h1>
        <form th:action="@{/login}" method="post">
            <label for="username">Email :</label>
            <input type="text" id="username" name="username" required/>
            <br/>
            <label for="motDePasse">Mot de passe :</label>
            <input type="password" id="motDePasse" name="motDePasse" required/>
            <br/>
            <input type="submit" value="Se connecter" class="btn btn-primary"/>
        </form>
        <p>Vous n'avez pas compte ? <a th:href="@{/signup}">S'inscrire</a></p>
    </div>
</body>
</html>